[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=pi
WorkingDirectory=/home/pi
PIDFile=/home/pi/.vnc/novnc.pid
ExecStart=/usr/local/share/noVNC/utils/launch.sh --vnc localhost:5901 --listen 8001 &

[Install]
WantedBy=multi-user.target
