[Unit]
Description=TightVNC remote desktop server
After=sshd.service
  
[Service]
Type=dbus
ExecStart=/usr/bin/tightvncserver :1
User=pi
Type=forking
  
[Install]
WantedBy=multi-user.target
