[Unit]
Description=Wifi Debug
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/env bash /home/pi/di_update/Raspbian_For_Robots/Troubleshooting_GUI/wifi_debug/wifi_debug_starter.sh
RestartSec=120
Restart=always
 
[Install]
WantedBy=multi-user.target