[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=python /home/pi/Dexter/lib/Dexter/Scratch_GUI/Scratch_Start.py
Icon=/usr/share/scratch/Media/Costumes/Animals/cat1-b.gif
Terminal=false
Name=Scratch for Robots
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
