[Desktop Entry]
Version=1.0
Comment=Graphical user interface backup
Exec=lxterminal --title "Backup your files - do not close this window!" --command "gksu sh /home/pi/di_update/Raspbian_For_Robots/backup/run_backup.sh"
Icon=/home/pi/di_update/Raspbian_For_Robots/backup/xarchiver-add.png
GenericName=Backup Files
Terminal=false
Type=Application
Name=Backup Files
