[Desktop Entry]
Type=Application
Name=Raspberry Pi Configuration
Name[en_GB]=Raspberry Pi Configuration
Name[es]=Configuración de Raspberry Pi
Name[nl]=Raspberry pi Configuratie programma
Name[fr]=Configuration du Raspberry Pi 
Name[id_ID]=Konfigurasi Raspberry Pi
Name[ja_JP]=Raspberry Pi の設定
Name[zh_TW]=Raspberry Pi 設定
GenericName=Raspberry Pi Configuration
GenericName[en_GB]=Raspberry Pi Configuration
GenericName[es]=Configuración de Raspberry Pi
GenericName[nl]=Raspberry pi Configuratie programma
GenericName[fr]=Configuration du Raspberry Pi 
GenericName[id_ID]=Konfigurasi Raspberry Pi
GenericName[ja_JP]=Raspberry Pi の設定
GenericName[zh_TW]=Raspberry Pi 設定
Comment=Configure Raspberry Pi system
Comment[en_GB]=Configure Raspberry Pi system
Comment[nl]=Raspberry pi Configuratie programma
Comment[es]=Configuración de Raspberry Pi
Comment[fr]=Configurer le système du Raspberry Pi
Comment[id_ID]=Konfigurasikan sistem Raspberry Pi
Comment[ja_JP]=ラズベリーパイシステムの設定
Comment[zh_TW]=設定 Raspberry Pi 系統
Icon=/usr/share/raspberrypi-artwork/raspitr.png
Exec=lxterminal --title "Raspberry Pi Configuration" --command "gksu python /home/pi/di_update/Raspbian_For_Robots/rpi_config_menu_gui/rc_gui_warning.py"
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;