[Unit]
Description=SpyvsSpi
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/SpyvsSpy_Startup.py

[Install]
WantedBy=multi-user.target
