[Unit]
Description=SpyvsSpi
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/SpyvsSpy_Startup.py > /home/pi/myscript.log 2>&1

[Install]
WantedBy=multi-user.target