[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=xhost +
Exec=python /home/pi/Dexter/lib/Dexter/Troubleshooting_GUI/troubleshoot.py
Icon=/home/pi/Dexter/lib/Dexter/Troubleshooting_GUI/DXT_Icon_64x64_Test.png
Terminal=false
Name=Test and Troubleshoot
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
