[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=xhost +
Exec=lxterminal --title "Test and Troubleshoot Controller - do not close this window!" --command "gksu sh /home/pi/Dexter/lib/Dexter/Troubleshooting_GUI/Troubleshooting_Start.sh"
Icon=/home/pi/Dexter/lib/Dexter/Troubleshooting_GUI/DXT_Icon_64x64_Test.png
Terminal=false
Name=Test and Troubleshoot
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
