[Desktop Entry]
Type=Link
Name=Help
Comment=The infamous Raspberry Pi computer
URL=/home/pi/di_update/Raspbian_For_Robots/homepage/DexterIndustries.html
Icon=/home/pi/di_update/Raspbian_For_Robots/desktop/DXT_Icon_64x64_DexEd.png